html {
  position: relative;
  min-height: 100%;
}

body {
	background-color: #fff;
	font-family: sans-serif;
  padding-top: 5rem;
}

/* Resume */

.resume-img {
  padding-top: 3em;
  padding-bottom: 2em;
}

.homepage {
	margin: 0px 0px 30px 0px;
}

.navbar{
  background-color: #2e3956;
  border-bottom: 0px;
}



@media (min-width: 768px){
  .navbar {
    padding-left: 10em;
    padding-right: 10em;
  }
}

.navbar .navbar-brand, .navbar .navbar-brand:hover {
	color: #fff;
	letter-spacing: 1px;
	font-weight: 700;
	text-transform: uppercase;
	font-size: .9em;
}

.nav-link, .nav-link:hover {
	color: #fff;
}

/* Container */

@media (min-width: 768px){
  .container-body {
    margin-left:10em;
    padding-right: 8em;
  }
}

/* Resume */
.resume-header {
  padding: 1em;
}

.resume-header-text {
    font-size: 1.2em;
    font-weight: bold;
}

.resume-text {
  text-align: justify;
  color: #606060;
}

@media (min-width: 768px){
  .li-location {
    float: right;
  }
}

/* Resume */

.footer {
  text-align: center;
}
